# the challenge
https://preppindata.blogspot.com/2020/01/2020-week-1.html

In [1]:
# setup
import pandas as pd
import os
import numpy as np
import time
current_dir = os.getcwd()
sub_dir = 'inputs'
files = os.path.join(current_dir, sub_dir)
csv_file = [file for file in os.listdir(files) if file.endswith('.csv')]
csv_file

['PD 2020 WK 1 Input - Sheet1.csv']

In [123]:
for csv in csv_file:
    csv_path = os.path.join(current_dir,sub_dir, csv)
    df = pd.read_csv(csv_path)
df.head(3)

# get the levels using isnumeric
levels = []
for item in df['Item']:
    level = sum(
        [i.isnumeric() for i in item]
    )
    levels.append(level)
df['Level'] = levels



# create hierrachy : define parents and children 
# 3 as the last children, 1 as the first parent
parent_1 = (df['Level'] == 1) 
parent_2 = (df['Level'] == 2)
parent_3 = (df['Level'] == 3)
children_1 =  (df['Level'] == 3) 
children_2 =  (df['Level'] == 2) 



# string slicing : use str[0]
# indicate the subset : specific rows matching "children" condition 
df.loc[children_1,'Parent'] = df['Item'].str[:3]
df.loc[children_2,'Parent'] = df['Item'].str[0]


df.loc[parent_1,'ID'] = df['Item'].str[0]
df.loc[parent_2,'ID'] = df['Item'].str[:3]
df.loc[parent_3,'ID'] = df['Item'].str[:5]

# setup the partition to window the SUM aggregation by. this should be an intermediary cause `
# 


def assign_df(df, id_key):
    df.loc[df['ID'] ==  id_key ,'Profit'] = df.loc[df['Parent'] == id_key,'Profit'].sum()

# assign_df(df,1.1) 

for index, row in df.iterrows():
    level_key = row['Level']
    parent_key = row['Parent']
    id_key = row['ID']
    # print(f'processing level {level_key}, parent {parent_key}, id {id_key}',end='\r')
    # time.sleep(1) 
    print(f'processing level {level_key}, parent {parent_key}, id {id_key}',end='\r')


    # ignore calcs for child
    
    if level_key == 3:
        continue

    # # 1st sequence for n+1 parents
    if level_key == 2:
        # df.loc[df['ID'] ==  id_key ,'Profit'] = df.loc[df['Parent'] == id_key,'Profit'].sum()
        # break
        assign_df(df,id_key)

    first_seq_ran = True
    
    time.sleep(1) 

for index, row in df.iterrows():
    level_key = row['Level']
    parent_key = row['Parent']
    id_key = row['ID']    
    # # 2nd sequence for upper parents
    if level_key == 1 and first_seq_ran:
        # df.loc[df['ID'] ==  id_key ,'Profit'] = df.loc[df['Parent'] == id_key,'Profit'].sum()
        assign_df(df,id_key)
df

                     Item   Profit  Level Parent     ID
0             1. Bar Soap  21744.0      1    NaN      1
1              1.1 Opaque  16398.0      2      1    1.1
2          1.1.1 Lavender  10778.0      3    1.1  1.1.1
3             1.1.2 Honey  -6103.0      3    1.1  1.1.2
4            1.1.3 Orange   5422.0      3    1.1  1.1.3
5              1.1.4 Mint   6301.0      3    1.1  1.1.4
6         1.2 Transparent   5346.0      2      1    1.2
7          1.2.1 Lavender  10769.0      3    1.2  1.2.1
8             1.2.2 Honey   -270.0      3    1.2  1.2.2
9            1.2.3 Orange  -4981.0      3    1.2  1.2.3
10             1.2.4 Mint   -172.0      3    1.2  1.2.4
11         2. Liquid Soap  27219.0      1    NaN      2
12             2.1 Opaque  28810.0      2      2    2.1
13         2.1.1 Lavender  -1740.0      3    2.1  2.1.1
14            2.1.2 Honey  14520.0      3    2.1  2.1.2
15           2.1.3 Orange   1551.0      3    2.1  2.1.3
16             2.1.4 Mint  14479.0      3    2.1  2.1.4
17        2.2 Transparent  -1591.0      2      2    2.2
18         2.2.1 Lavender  -4302.0      3    2.2  2.2.1
19            2.2.2 Honey  -1566.0      3    2.2  2.2.2
20           2.2.3 Orange   1187.0      3    2.2  2.2.3
21             2.2.4 Mint   3090.0      3    2.2  2.2.4
22         3. Accessories -13515.0      1    NaN      3
23  3.1 Exfoliating Glove -16288.0      2      3    3.1
24            3.1.1 Green  -9507.0      3    3.1  3.1.1
25           3.1.2 Yellow  -2863.0      3    3.1  3.1.2
26              3.1.3 Red  -3918.0      3    3.1  3.1.3
27        3.2 Soap Holder   2773.0      2      3    3.2
28            3.2.1 Stone  -7070.0      3    3.2  3.2.1
29            3.2.2 White   4675.0      3    3.2  3.2.2
30            3.2.3 Black   5168.0      3    3.2  3.2.3

In [122]:
def assign_df(df, id_key):
    df.loc[df['ID'] ==  id_key ,'Profit'] = df.loc[df['Parent'] == id_key,'Profit'].sum()

# assign_df(df,1.1) 

for index, row in df.iterrows():
    level_key = row['Level']
    parent_key = row['Parent']
    id_key = row['ID']
    # print(f'processing level {level_key}, parent {parent_key}, id {id_key}',end='\r')
    # time.sleep(1) 
    print(f'processing level {level_key}, parent {parent_key}, id {id_key}',end='\r')

    # from pdb import set_trace; set_trace()   
    # ignore calcs for child
    
    if level_key == 3:
        continue

    # # 1st sequence for n+1 parents
    if level_key == 2:
        # df.loc[df['ID'] ==  id_key ,'Profit'] = df.loc[df['Parent'] == id_key,'Profit'].sum()
        # break
        assign_df(df,id_key)

    first_seq_ran = True
    
    time.sleep(1) 

for index, row in df.iterrows():
    level_key = row['Level']
    parent_key = row['Parent']
    id_key = row['ID']    
    # # 2nd sequence for upper parents
    if level_key == 1 and first_seq_ran:
        # df.loc[df['ID'] ==  id_key ,'Profit'] = df.loc[df['Parent'] == id_key,'Profit'].sum()
        assign_df(df,id_key)
df

                     Item   Profit  Level Parent     ID
0             1. Bar Soap  21744.0      1    NaN      1
1              1.1 Opaque  16398.0      2      1    1.1
2          1.1.1 Lavender  10778.0      3    1.1  1.1.1
3             1.1.2 Honey  -6103.0      3    1.1  1.1.2
4            1.1.3 Orange   5422.0      3    1.1  1.1.3
5              1.1.4 Mint   6301.0      3    1.1  1.1.4
6         1.2 Transparent   5346.0      2      1    1.2
7          1.2.1 Lavender  10769.0      3    1.2  1.2.1
8             1.2.2 Honey   -270.0      3    1.2  1.2.2
9            1.2.3 Orange  -4981.0      3    1.2  1.2.3
10             1.2.4 Mint   -172.0      3    1.2  1.2.4
11         2. Liquid Soap  27219.0      1    NaN      2
12             2.1 Opaque  28810.0      2      2    2.1
13         2.1.1 Lavender  -1740.0      3    2.1  2.1.1
14            2.1.2 Honey  14520.0      3    2.1  2.1.2
15           2.1.3 Orange   1551.0      3    2.1  2.1.3
16             2.1.4 Mint  14479.0      3    2.1  2.1.4
17        2.2 Transparent  -1591.0      2      2    2.2
18         2.2.1 Lavender  -4302.0      3    2.2  2.2.1
19            2.2.2 Honey  -1566.0      3    2.2  2.2.2
20           2.2.3 Orange   1187.0      3    2.2  2.2.3
21             2.2.4 Mint   3090.0      3    2.2  2.2.4
22         3. Accessories -13515.0      1    NaN      3
23  3.1 Exfoliating Glove -16288.0      2      3    3.1
24            3.1.1 Green  -9507.0      3    3.1  3.1.1
25           3.1.2 Yellow  -2863.0      3    3.1  3.1.2
26              3.1.3 Red  -3918.0      3    3.1  3.1.3
27        3.2 Soap Holder   2773.0      2      3    3.2
28            3.2.1 Stone  -7070.0      3    3.2  3.2.1
29            3.2.2 White   4675.0      3    3.2  3.2.2
30            3.2.3 Black   5168.0      3    3.2  3.2.3

In [107]:
first_seq_ran

False

In [39]:
# tmp = pd.unique(unique_partition['value'].dropna())
# [i == '1' for i in tmp]
# debug 
for i in intermediate_partition:
    # from pdb import set_trace; set_trace()
    df.loc[df['ID'] == i,'Profit'] = df.loc[df['Parent'] == i,'Profit'].sum()
df

                     Item   Profit  Level Parent     ID
0             1. Bar Soap      0.0      1    NaN      1
1              1.1 Opaque  16398.0      2      1    1.1
2          1.1.1 Lavender      0.0      3    1.1  1.1.1
3             1.1.2 Honey      0.0      3    1.1  1.1.2
4            1.1.3 Orange      0.0      3    1.1  1.1.3
5              1.1.4 Mint      0.0      3    1.1  1.1.4
6         1.2 Transparent   5346.0      2      1    1.2
7          1.2.1 Lavender      0.0      3    1.2  1.2.1
8             1.2.2 Honey      0.0      3    1.2  1.2.2
9            1.2.3 Orange      0.0      3    1.2  1.2.3
10             1.2.4 Mint      0.0      3    1.2  1.2.4
11         2. Liquid Soap      0.0      1    NaN      2
12             2.1 Opaque  28810.0      2      2    2.1
13         2.1.1 Lavender      0.0      3    2.1  2.1.1
14            2.1.2 Honey      0.0      3    2.1  2.1.2
15           2.1.3 Orange      0.0      3    2.1  2.1.3
16             2.1.4 Mint      0.0      3    2.1  2.1.4
17        2.2 Transparent  -1591.0      2      2    2.2
18         2.2.1 Lavender      0.0      3    2.2  2.2.1
19            2.2.2 Honey      0.0      3    2.2  2.2.2
20           2.2.3 Orange      0.0      3    2.2  2.2.3
21             2.2.4 Mint      0.0      3    2.2  2.2.4
22         3. Accessories      0.0      1    NaN      3
23  3.1 Exfoliating Glove -16288.0      2      3    3.1
24            3.1.1 Green      0.0      3    3.1  3.1.1
25           3.1.2 Yellow      0.0      3    3.1  3.1.2
26              3.1.3 Red      0.0      3    3.1  3.1.3
27        3.2 Soap Holder   2773.0      2      3    3.2
28            3.2.1 Stone      0.0      3    3.2  3.2.1
29            3.2.2 White      0.0      3    3.2  3.2.2
30            3.2.3 Black      0.0      3    3.2  3.2.3

In [43]:
# setup the partition appending lvl


unique_partition = df.melt(id_vars = ['Item','Level'], value_vars=['ID','Parent'])
unique_partition
# intermediate_partition = []
# intermediate_partition = pd.unique(unique_partition['value'].dropna())

               Item  Level variable  value
0       1. Bar Soap      1       ID      1
1        1.1 Opaque      2       ID    1.1
2    1.1.1 Lavender      3       ID  1.1.1
3       1.1.2 Honey      3       ID  1.1.2
4      1.1.3 Orange      3       ID  1.1.3
..              ...    ...      ...    ...
57        3.1.3 Red      3   Parent    3.1
58  3.2 Soap Holder      2   Parent      3
59      3.2.1 Stone      3   Parent    3.2
60      3.2.2 White      3   Parent    3.2
61      3.2.3 Black      3   Parent    3.2

[62 rows x 4 columns]

In [6]:
for i in intermediate_partition:
    # from pdb import set_trace; set_trace()
    df.loc[df['ID'] == i,'Profit'] = df.loc[df['Parent'] == i,'Profit'].sum()
    # print(i)

['1', '1.1', '1.1.1', '1.1.2', '1.1.3', '1.1.4', '1.2', '1.2.1', '1.2.2', '1.2.3', '1.2.4', '2', '2.1', '2.1.1', '2.1.2', '2.1.3', '2.1.4', '2.2', '2.2.1', '2.2.2', '2.2.3', '2.2.4', '3', '3.1', '3.1.1', '3.1.2', '3.1.3', '3.2', '3.2.1', '3.2.2', '3.2.3']

In [65]:
# concat the lvel with the value
level = []
Value = []
for index, row in unique_partition.iterrows():    
    level.append(row['Level'])
    Value.append(row['value'])
    # unique_partition[row,'Level']
    # Value.append(unique_partition[row,'value'])
    
# tmp_dict = {level: value for level, value in zip(level,value)}
# tmp_dict
value

[]

In [ ]:
for i in intermediate_partition:
    df.loc[df['ID'] == i,'Profit'] = df.loc[df['Parent'] == i,'Profit'].sum()

In [ ]:
intermediate_partition

zip

In [ ]:
#create hierarchy level
level = []

for i in df["Item"]:
    a = sum(c.isdigit() for c in i)
    level.append(a)
    #cat.append(b)
    
df["Level"] = level

#create parent category
df["Parent"] = np.nan
df.loc[df["Level"]== 2, "Parent"] = df["Item"].str[0]
df.loc[df["Level"]== 3, "Parent"] = df["Item"].str[0:3]

#create child
df["Child"] = np.nan
df.loc[df["Level"]== 1, "Child"] = df["Item"].str[0]
df.loc[df["Level"]== 2, "Child"] = df["Item"].str[0:3]

#create parent category profit by aggregating children profit
cat = [ "1.1", "1.2",  "2.1", "2.2",  "3.1", "3.2", "1", "2", "3"]

for i in cat:
    df.loc[df["Child"] == i, "Profit"] = df.loc[df["Parent"] == i, "Profit"].sum()

In [ ]:
import pandas as pd
import numpy as np
from io import StringIO

# Assuming you already have the 'df' DataFrame from the previous code

# Using the 'isdigit' method to extract levels
df['Level'] = df['Item'].apply(lambda x: sum(char.isdigit() for char in x))

# Creating the 'Parent' column
df['Parent'] = np.nan
df.loc[df['Level'] == 2, 'Parent'] = df['Item'].str[0]
df.loc[df['Level'] == 3, 'Parent'] = df['Item'].str[0:3]

# Creating the 'Child' column
df['Child'] = np.nan
df.loc[df['Level'] == 1, 'Child'] = df['Item'].str[0]
df.loc[df['Level'] == 2, 'Child'] = df['Item'].str[0:3]

# Creating a list of categories for aggregation
categories = ["1.1", "1.2", "2.1", "2.2", "3.1", "3.2", "1", "2", "3"]

# Aggregating profits for parent categories
for cat in categories:
    df.loc[df['Child'] == cat, 'Profit'] = df.loc[df['Parent'] == cat, 'Profit'].sum()

# Display the final DataFrame
df

In [ ]:
raw_df = pd.read_csv(csv_path)
raw_df.head()

# sample solution

In [ ]:
# check out the method isdigit
level = []
for item in df['Item']:
    level_agg = sum(char.isdigit() for char in item if char.isdigit())
    level.append(level_agg)
level
raw_df['level'] = level
raw_df

In [ ]:
#create parent category
raw_df["ParentID"] = np.nan

# indicate outer parent and assign it to 1 level below, ie 2

outer_children = raw_df['level'] == 2
raw_df.loc[outer_children,'ParentID'] = raw_df.loc[outer_children,'Item'].str[0]


# # indicate inner parent and assign it to level 3 the children
inner_children = raw_df['level'] == 3
raw_df.loc[inner_children,'ParentID'] = raw_df.loc[inner_children,'Item'].str[:3]
raw_df

In [ ]:
raw_df['Profit'] = raw_df.groupby('ParentID')['Profit'].transform(lambda x: x.sum() if x.name != '3' else x)
raw_df

In [ ]:
df_grouped = raw_df[raw_df['level'] == 3].groupby(by='ParentID').sum('Profit')
df_grouped

# start assigning values
raw_df[raw_df['level']==2,'Profit'] = df_grouped['Profit']
raw_df

# next calc the level 3 
if this were sql....  has to be some sort of window function

select
sum(profit) over (partition by level, parentID)
from df
where level = 3 
... this only works for level 3. 


then you have to do another one for level 2'